<?xml version="1.0"?>

<launch>
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen" respawn="true">
      <param name="port" value="$(env ARM)"/>
      <rosparam file="$(find adventure_bringup)/config/arm.yaml" command="load" />
  </node>

  <node name="gripper_controller" pkg="arbotix_controllers" type="gripper_controller" respawn="true">
      <param name="model" value="singlesided"/>
      <param name="invert" value="true"/>
      <param name="pad_width" value="0.0254"/>
  </node>

  <include file="$(find openni_launch)/launch/openni.launch"/>

  <node name="laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" respawn="true">
      <remap from="image" to="/camera/depth/image_raw"/>
  </node>
</launch>
